@import url('./variables.css');

.navbar {
    background: var(--primary-background);
    backdrop-filter: blur(20px);
    padding: 1rem 0;
    box-shadow: 0 0 5px var(--dark-primary);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--primary-text);
}

.navbar-nav .nav-link {
    color: var(--primary-text) !important;
    font-weight: 500;
    margin: 0 10px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

.navbar-nav .nav-link:hover {
    color: var(--primary-red) !important;
}

.nav-link.logged-out {
    display: none;
}

.navbar-nav .nav-link.signup {
    background: var(--red-primary);
    border: 1px solid var(--red-primary);
    color: var(--text-light) !important;
    border-radius: 5px;
}

.navbar-nav .nav-link.signup:hover {
    opacity: 0.8;
}

.profile-dropdown {
    position: relative;
}

.btn-user {
    background: var(--dark-secondary);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.btn-user .user-name {
    color: var(--text-light);
}

.btn-user .text-muted {
    color: var(--text-gray) !important;
    font-size: 0.7rem;
}

.btn-user:hover {
    background-color: var(--dark-secondary);
}

.dropdown-menu-custom {
    position: absolute;
    top: 115%;
    left: 0;
    background-color: #1a1a1a;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 15px 0;
    min-width: 200px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 2000;
}

.dropdown-menu-custom.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-item-custom {
    display: block;
    width: 100%;
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: all 0.3s ease;
    border: none;
    background: none;
    text-align: left;
}

.dropdown-item-custom:hover {
    opacity: 0.5;
}

@media (max-width: 992px) {
    .btn-user {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .dropdown-menu-custom {
        min-width: 155px;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--dark-secondary);
}

::-webkit-scrollbar-thumb {
    background: var(--red-primary);
    border-radius: 4px;
}

